*{
  box-sizing: border-box !important;
}
.nav-wrapper{
  padding-left: 10px;
}
.tap-target-content{
  position:relative;
  top:200px !important;
}
#js-input{
  background-color: transparent !important;
}
label{
  margin-bottom: 5px !important;
  font-size: 25px !important;
}
/*.tap-target{
  width: 600px !important;
  height: 600px !important;
}*/
.social{
  display: flex;
}
.social li{
  margin-right: 20px;
  font-size: 30px;
  color: white !important;
}
.social a{
  color: #eceff1;
}
.footer-copyright{
  padding:0 !important;
}
.page-footer{
  padding-bottom:0 !important;
  padding-top:10px;
}
.parallax-container{
  height: 375px !important;

}
label{
    color: #eceff1 !important;
}
body{
  background: #eeeeee !important;
}
#map{
  height: 400px !important;
  width: 100%;
}
.tap-target-content {
  padding-left: 100px !important;
  font-size: 25px !important;
}


   #pac-container {
     padding-bottom: 12px !important;
     margin-right: 12px !important;
   }

   .pac-controls {
     display: inline-block !important;
     padding: 5px 11px !important;
   }

   .pac-controls label {
     font-family: Roboto !important;
     font-size: 13px !important;
     font-weight: 300 !important;
   }

   #pac-input {
     background-color: #b0bec5 !important;
     font-family: Roboto !important;
     font-size: 15px !important;
     font-weight: 300 !important;
     margin-left: 12px !important;
     padding: 0 11px 0 13px !important;
     text-overflow: ellipsis !important;
     width: 400px !important;

   }

   #pac-input:focus {
     border-color: #4d90fe !important;
   }
  #pac-input::placeholder {
  color: #263238 !important;
  font-weight: 300 !important;
}
#quote-container{
  margin-bottom: 0 !important;

}
#js-weather{
  margin:0 !important;
}
#js-result{
  margin-bottom: 0 !important;
}
